@page
@model Razor.Web.Pages.Condo.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Condo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Condo.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Condo.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Condo.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Condo.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Condo.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Condo.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Condo.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Condo.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Condo.Zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Condo.Zip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Condo.NoOfUnits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Condo.NoOfUnits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Condo.YearBuilt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Condo.YearBuilt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Condo.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Condo.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Condo.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Condo.UpdatedDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Condo.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
